@media (min-width: 1200px) { 
  .sunMenuSummer {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* buttonStyles */
  .sunButtonSummer {
    background-color: white;
    border-radius: 15px;
    color: black;
    border-style: none;
    width: 230px;
    margin: 3px;
    height: 30px;
    font-family: Anton;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
  }

  /* buttonStyles Hover */
  .sunButtonSummer:hover {
    background-color: #FFC436;
    animation-name: ButtonHover;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  .buttonMenuLight {
    width: 220px;
    height: 70px;
    position: relative;
  }

  .buttonMenuDark {
    width: 220px;
    height: 70px;
    position: relative;
  }

  .menuButtonLight {
    border: 2px solid black;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    animation-name: klk;
    animation-duration: 0.7s;
  }

  .menuButtonDark {
    border: 2px solid white;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #29272a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    color: white;
    animation-name: klk;
    animation-duration: 0.7s;
  }

  .menuButtonLight:hover, .menuButtonDark:hover{
    transform: translate(10px, 10px);
  }

  .menuButtonLight:focus, .menuButtonDark:focus{
    transform: translate(10px, 10px);
  }

  @keyframes klk {
    0% {
      color: transparent;
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      color: white;
    }
  }

  .socialMediaMenuLight {
    font-size: 2em;
    margin-top: 30px;
    color: #4287F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .socialMediaMenuDark {
      font-size: 2em;
      margin-top: 30px;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      cursor: pointer;
  }

  .telegramMenuLight {
    border: 2px solid #4287F5;
    font-size: 1em;
    width: 0.8em;
    height: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4287F5;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .telegramMenuDark {
      border: 2px solid white;
      font-size: 1em;
      width: 0.8em;
      height: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #29272a;
      border-radius: 4px;
      cursor: pointer;
  }

  @keyframes ButtonHover {
    0% {width: 240px;}
    50% {width: 250px;}
    100% {width: 240px;}
  } 

  .boxMenuLight {
    position: absolute;
    width: 220px;
    height: 50px;
    background-color: #8db8fd;
    top: 10px;
    left: 10px;
    z-index: 0;
  }

  .boxMenuDark {
      position: absolute;
      width: 220px;
      height: 50px;
      background-color: white;
      top: 10px;
      left: 10px;
      z-index: 0;
  }
}
  
@media (max-width: 1199px) {
  .sunMenuSummer {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* buttonStyles */
  .sunButtonSummer {
    background-color: white;
    border-radius: 15px;
    color: black;
    border-style: none;
    width: 230px;
    margin: 3px;
    height: 30px;
    font-family: Anton;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
  }

  /* buttonStyles Hover */
  .sunButtonSummer:hover {
    background-color: #FFC436;
    animation-name: ButtonHover;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  .buttonMenuLight {
    width: 220px;
    height: 70px;
    position: relative;
  }

  .buttonMenuDark {
    width: 220px;
    height: 70px;
    position: relative;
  }

  .menuButtonLight {
    border: 2px solid black;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    animation-name: klk;
    animation-duration: 1s;
  }

  .menuButtonDark {
    border: 2px solid white;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #29272a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    color: white;
    animation-name: klk;
    animation-duration: 0.7s;
  }

  .menuButtonLight:hover, .menuButtonDark:hover{
    transform: translate(10px, 10px);
  }

  .menuButtonLight:focus, .menuButtonDark:focus{
    transform: translate(10px, 10px);
  }

  @keyframes klk {
    0% {
      color: transparent;
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      color: white;
    }
  }

  .socialMediaMenuLight {
    font-size: 2em;
    margin-top: 30px;
    color: #4287F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .socialMediaMenuDark {
      font-size: 2em;
      margin-top: 30px;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
  }

  .telegramMenuLight {
    border: 2px solid #4287F5;
    font-size: 1em;
    width: 0.8em;
    height: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4287F5;
    color: white;
    border-radius: 4px;
  }

  .telegramMenuDark {
      border: 2px solid white;
      font-size: 1em;
      width: 0.8em;
      height: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #29272a;
      border-radius: 4px;
  }

  @keyframes ButtonHover {
    0% {width: 240px;}
    50% {width: 250px;}
    100% {width: 240px;}
  } 

  .boxMenuLight {
    position: absolute;
    width: 220px;
    height: 50px;
    background-color: #8db8fd;
    top: 10px;
    left: 10px;
    z-index: 0;
  }

  .boxMenuDark {
      position: absolute;
      width: 220px;
      height: 50px;
      background-color: white;
      top: 10px;
      left: 10px;
      z-index: 0;
  }
}
  
@media (max-width: 991px) {
  .sunMenuSummer {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* buttonStyles */
  .sunButtonSummer {
    background-color: white;
    border-radius: 15px;
    color: black;
    border-style: none;
    width: 230px;
    margin: 3px;
    height: 30px;
    font-family: Anton;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
  }

  /* buttonStyles Hover */
  .sunButtonSummer:hover {
    background-color: #FFC436;
    animation-name: ButtonHover;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  .buttonMenuLight {
    width: 220px;
    height: 70px;
    position: relative;
  }

  .buttonMenuDark {
    width: 220px;
    height: 70px;
    position: relative;
  }

  .menuButtonLight {
    border: 2px solid black;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    animation-name: klk;
    animation-duration: 1s;
  }

  .menuButtonDark {
    border: 2px solid white;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #29272a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    color: white;
    animation-name: klk;
    animation-duration: 0.7s;
  }

  .menuButtonLight:hover, .menuButtonDark:hover{
    transform: translate(10px, 10px);
  }

  .menuButtonLight:focus, .menuButtonDark:focus{
    transform: translate(10px, 10px);
  }

  @keyframes klk {
    0% {
      color: transparent;
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      color: white;
    }
  }

  .socialMediaMenuLight {
    font-size: 2em;
    margin-top: 30px;
    color: #4287F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .socialMediaMenuDark {
      font-size: 2em;
      margin-top: 30px;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
  }

  .telegramMenuLight {
      border: 2px solid #4287F5;
      font-size: 1em;
      width: 0.8em;
      height: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4287F5;
      color: white;
      border-radius: 4px;
  }

  .telegramMenuDark {
      border: 2px solid white;
      font-size: 1em;
      width: 0.8em;
      height: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #29272a;
      border-radius: 4px;
  }

  @keyframes ButtonHover {
    0% {width: 240px;}
    50% {width: 250px;}
    100% {width: 240px;}
  } 

  .boxMenuLight {
    position: absolute;
    width: 220px;
    height: 50px;
    background-color: #8db8fd;
    top: 10px;
    left: 10px;
    z-index: 0;
  }

  .boxMenuDark {
      position: absolute;
      width: 220px;
      height: 50px;
      background-color: white;
      top: 10px;
      left: 10px;
      z-index: 0;
  }
}
  
@media (max-width: 800px) {
  .sunMenuSummer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .buttonMenuLight {
    width: 420px;
    height: 130px;
    position: relative;
  }

  .buttonMenuDark {
      width: 420px;
      height: 130px;
      position: relative;
  }

  .boxMenuLight {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: #8db8fd;
    top: 10px;
    left: 10px;
    z-index: 0;
  }

  .boxMenuDark {
      position: absolute;
      width: 400px;
      height: 100px;
      background-color: white;
      top: 10px;
      left: 10px;
      z-index: 0;
  }

  .menuButtonLight {
    border: 2px solid black;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    animation-name: klk;
    animation-duration: 1s;
    font-size: 2em;
  }

  .menuButtonDark {
    border: 2px solid white;
    width: 400px;
    height: 100px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #29272a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.3s;
    color: white;
    animation-name: klk;
    animation-duration: 0.7s;
    font-size: 2em;
  }

  @keyframes klk {
    0% {
      color: transparent;
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      color: white;
    }
  }

  .menuButtonLight:hover, .menuButtonDark:hover{
    transform: translate(10px, 10px);
  }

  .menuButtonLight:focus, .menuButtonDark:focus{
    transform: translate(10px, 10px);
  }

  .socialMediaMenuLight {
    font-size: 3.5em;
    margin-top: 30px;
    color: #4287F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .socialMediaMenuDark {
    font-size: 3.5em;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .telegramMenuLight {
      border: 2px solid #4287F5;
      font-size: 1em;
      width: 0.8em;
      height: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4287F5;
      color: transparent;
      border-radius: 4px;
      color: white;
  }

  .telegramMenuDark {
      border: 2px solid white;
      font-size: 1em;
      width: 0.8em;
      height: 0.8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #29272a;
      border-radius: 4px;
  }
}
